@import '_variables.css';
@import 'blocks/props.css';
@import 'blocks/radio.css';

.paragraph {
  color: var(--color);
}

.paragraph__small {
  font-size: small;
  color: green;
  user-select: none;
}
